@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

body {
    height: 100%
}

.mast-head {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.mast-body {
    margin: auto 3rem 8rem 3rem;

}

.mast-title {
    font-family: 'Orbitron';
    font-size: 4rem;
    text-shadow: 
      4px 4px 0px #868484, 
      7px 7px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 4rem;
}

.mast-button {
    display: flex;
    flex-direction: row;
    padding-right: 2rem;
}

.play-btn {
    background-color: white !important;
    color: black !important;
}

.play-btn:hover {
    background-color: rgba(109,109,110,0.7) !important;
    color: white !important;
}

.info-btn {
    background-color: rgba(109,109,110,0.7) !important;
    color: white !important;
    margin-left: 1rem;
}
.info-btn:hover {
    background-color: white !important;
    color: black !important;
}

.mast-overview {
    padding-top: 3rem;
    padding-right: 20rem;
    color: #fff;
    font-size: 1.5vw;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
}