img.show-poster {
    width: 250px;
    border-radius: 10px;
}

.swiper-button-prev {
	color: white !important;
}
.swiper-button-next {
	color: white !important;
}

.swiper-wrapper {
    display: flex;
}

.swiper-slide {
	transition: transform 0.2s;
    margin-top: 1rem;
}

.swiper-slide:hover {
	transform: scale(1.2);
	transition: 0.5s;
	z-index: 10;
}

.section-title {
    text-align: center;
    margin-top: 1rem;
    font-family: 'Orbitron';
    color: #e5e5e5;
}