@import url('https://fonts.googleapis.com/css2?family=Tourney:ital,wght@1,600&display=swap');

.navbar {
    position: fixed !important;
    width: 100%;
    z-index: 4;
    background-image: linear-gradient(to bottom,rgba(0,0,0,.7) 10%,rgba(0,0,0,0));
}
.scrolled {
    background-color: #141414!important;
}

.navContainer {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
}

.navLink {
    color: #fff !important;
    margin-right: 0.5rem;
}

.navLink:hover {
    color: lightgray !important;
    text-shadow: 1px 1px gray !important;
}
.sign {
background-image: radial-gradient(
    ellipse 50% 35% at 50% 50%,
    #0039a6,
    transparent
);
font-size: 2em !important;
color: #F0F8FF;
cursor: pointer;
text-shadow: 0 0 0.6rem #F0F8FF, 0 0 1.5rem #007FFF,
    -0.2rem 0.1rem 1rem #007FFF, 0.2rem 0.1rem 1rem #007FFF,
    0 -0.5rem 2rem #0000FF, 0 0.5rem 3rem #0000FF;
animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
0%,
22%,
36%,
75% {
    color: #F0F8FF;
    text-shadow: 0 0 0.6rem #F0F8FF, 0 0 1.5rem #007FFF,
    -0.2rem 0.1rem 1rem #007FFF, 0.2rem 0.1rem 1rem #007FFF,
    0 -0.5rem 2rem #0000FF, 0 0.5rem 3rem #0000FF;
}
28%,
33% {
    color: #007FFF;
    text-shadow: none;
}
82%,
97% {
    color: #0000FF;
    text-shadow: none;
}
}

.flicker {
animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
0% {
    color: #0039a6;
    text-shadow: none;
}
100% {
    color: #F0F8FF;
    text-shadow: 0 0 0.6rem #F0F8FF, 0 0 1.5rem #007FFF,
    -0.2rem 0.1rem 1rem #007FFF, 0.2rem 0.1rem 1rem #007FFF,
    0 -0.5rem 2rem #0000FF, 0 0.5rem 3rem #0000FF;
}
}

@keyframes flicker {
from {
    opacity: 1;
}

4% {
    opacity: 0.9;
}

6% {
    opacity: 0.85;
}

8% {
    opacity: 0.95;
}

10% {
    opacity: 0.9;
}

11% {
    opacity: 0.922;
}

12% {
    opacity: 0.9;
}

14% {
    opacity: 0.95;
}

16% {
    opacity: 0.98;
}

17% {
    opacity: 0.9;
}

19% {
    opacity: 0.93;
}

20% {
    opacity: 0.99;
}

24% {
    opacity: 1;
}

26% {
    opacity: 0.94;
}

28% {
    opacity: 0.98;
}

37% {
    opacity: 0.93;
}

38% {
    opacity: 0.5;
}

39% {
    opacity: 0.96;
}

42% {
    opacity: 1;
}

44% {
    opacity: 0.97;
}

46% {
    opacity: 0.94;
}

56% {
    opacity: 0.9;
}

58% {
    opacity: 0.9;
}

60% {
    opacity: 0.99;
}

68% {
    opacity: 1;
}

70% {
    opacity: 0.9;
}

72% {
    opacity: 0.95;
}

93% {
    opacity: 0.93;
}

95% {
    opacity: 0.95;
}

97% {
    opacity: 0.93;
}

to {
    opacity: 1;
}
}
